body {
    background: url(https://i.pinimg.com/564x/42/4e/ae/424eae6af416dbcf83cfe6930a9f2bba.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.header {
    padding: 10px;
    background: #edf2f4;
    border-bottom: 1px solid #999;
    font-size: large;
  }
  .header a {
    color: #474747;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 5px;
  }
  .header a:hover {
    color: #8a0f53;
  }
  .header small {
    color: #666;
  }
  .header .active {
    color: #2c7613;
  }
.navbar {
   
   width: 100%;
   height: 100px;background:#212121;
}
.container {
    background: #2f2d27;
    padding: 2%;
}
/*top main*/
div.top {
    margin-top: 30px;
    font-size: 100px;
    color: white;
    text-align: center;
    font-family: cursive;
}
.top h1 {
    font-size: 100px;
}
/*top menuFood*/
div.top1 {
    margin: 30px 30px 0px 30px;
    font-size: 100px;
    color: white;
    background-color: #546046;
    text-align: center;
    font-family: cursive;
}
.top1 h2 {
    font-size: 50px;
    padding-top: 20px;
}
.top1 h3 {
    font-size: 30px;
    padding-bottom: 20px;
    color: #fad02c;
}
span {
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 50px;
    font-family: cursive;
}
.menu {
    text-align: center;
    font-size: 50px;
}
.col {
    text-align: center;
}
.btn1 {
    color: white;
    border: none;
    background-color: #ff662a;
    border-radius: 45%;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 100px;
    cursor: pointer;
    transition: 0.5s;
    margin: 30px 0 30px 0;
    font-family: cursive;
}
.btn1:hover {
    width: 200px;
    height: 0px;
    transition: 0.5s;
}
.text-link {
    text-decoration: inherit;
    color: white;
}
.text-link:hover {
    color: white;
    
}
/*btn-nationpage-tryagain*/
.btn2 {
    color: white;
    border: none;
    background-color: #ff662a;
    border-radius: 45%;
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    height: 100px;
    cursor: pointer;
    transition: 0.5s;
    margin: 30px 0 30px 0;
    font-family: cursive;
}
.btn2:hover {
    width: 300px;
    height: 0px;
    transition: 0.5s;
}
/*btn-nationlity*/
.btn3 {
    border: none;
    background-color: #fcbc66;
    border-radius: 0%;
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    height: 500px;
    cursor: pointer;
    transition: 0.5s;
    margin: 30px 0 30px 0;
    font-family: cursive;
    margin-right: 50px;
}
.btn3:hover {
    width: 300px;
    background-color: black;
    transition: 0.5s;
    
}
.area {
    text-align: center;
}
.textkey span {
    color: #fcbc66;
    transition: 0.5s;
    padding-top: 250px;
    padding-bottom: 250px;
    
}
.textkey span:hover {
    color: white;
    transition: 0.5s;
}


  img{
      width: 300px;
      height: auto;
      
  }
div.Box1{
    display: flex;
    justify-content: center;
}
div.Box2{
    padding: 2%;
    display: flex;
    justify-content:center;
}
button.btn4{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #616161;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(153, 153, 153);
}
.col4{
    text-align: center;
}
div.Enjoy{
    padding: 20px;
    text-align: center;
    
}
div.dl{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
a.a{
    
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #616161;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(153, 153, 153);
}
h1.Menu{
    margin-top: 8%;
}
div.head2{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}